*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(43, 43, 90);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;

}
.container div{
    width: 80%;
    border: 1px rgb(245, 245, 105) solid;
    padding: 5%;

}
.container div button{
    display: inline-block;
    width: 30%;
    height: 100%;
    margin-right: 3%;
    border-radius: 10px;
    border: none;
   
   

}
#rock svg{
    height: 320px;
}
button:hover{
    scale: 1.1;
}
#result{
    color: white;
    font-size: larger;
    text-transform: uppercase;
    margin-top: 30px;
}